{% extends 'layout.twig' %}

{% block body %}
  
<form action="/adduserspost" method="post">
    <input type="text" name="name">
    <input type="text" name="age">
    <button>сохранить</button>
</form>

{% endblock %}
