{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1> 
  <table border=1>
    <tr>
      <td>id</td>
      <td>Имя</td>
      <td>Возраст</td>
    </tr>
{% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
    </tr>
{% endfor %}
  </table>
  <a href="/addusers">добавить пользователя</a>
{% endblock %}
