<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav class="menu1">
    <ul>
        <li><a href="/">Главная1</a></li>
        <li><a href="/nodes">Записи</a></li>
        <li><a href="/users">Пользователи</a></li>
    </ul>
  </nav>
    {% block body %}{% endblock %}
  </body>
</html>
